.catalogoProductos{
    margin-top:15rem;
    margin-bottom: 10rem;
    font-family: 'Josefin Sans', sans-serif;
        h1{
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .catProduct{
        font-weight: 600;
        display: flex;
        justify-content: center;
            .card{
                margin: 10px;
            }
    }  
    h5{
        font-weight: 600;
    }
}