/*Alugnas clases son parecidas con leves cambios*/

/*Footer activo en resoluciones mayores a 600px despues cambia a responsive linea */

/*Secciones del footer*/
footer{
    background: radial-gradient(circle at 50% 50%, #e0d610, #b6e040, #8ce768, #5eea8f, #16ebb4, #00ead4, #00e7ee, #0fe3ff);
}
.navFooter{
    display: flex;
    align-self: flex-end;
}
.secciones__footer{
    list-style: none;
    margin-left: -2.5rem;
    margin-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
        a{
        padding: 5px;
        color: black;
            &:hover{
            text-decoration: none; 
            color: green;   
        }
    }
}

/*Logo empresa*/

.logoFooter{
    img{
    width: 13rem;
    }
    &:hover{
    opacity: 50%;
    }
}

/*Footer redes sociales*/
.redesFooter{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: -2rem;
}
.redes_footer{
    color: $negro;
    padding: 8px;
    border-radius: 100%;
    font-size: 2rem;
        &:hover{
        transform: scale(1.1);
        transition-duration: 0.5s;
        color: $verde;
    }
}


@media only screen and (max-width:768px){
    .redesFooter{
    justify-content: center;
    }
    .navFooter ul{
    display: flex;
    flex-direction: row;  
    margin: auto; 
    a{
        margin: 20px;
        }
    }
}
@media only screen and (max-width:600px){
    .foot__widescreen{
    display: none;
    }
}

/*Menu responsivo modificiado para que las clases no afecten mis otros nav y elimine algunas animaciones que no me gustaban*/

/*Tamaño y posicion de los circulos mas pequeños*/

.foot__smallscreen{
    background-color: transparent;
    display: flex;
    justify-content: center;
    height: 7rem;
    backdrop-filter: blur(5px);
}
.ir_arriba{
    font-size: 25px;
}
.nav__footer {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
}
/*Icono de menu hamburguesa*/

.toggle {
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    z-index: 2;
}
/*Animacion de apertura y cierre de los circulos y color de fondo*/
.nav__footer,
.toggle,
.wobble {
    border: groove;
    position: absolute;
    bottom: 0px;
    left: 50%;
    text-align: center;
    background-image: $gradiente2;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all .4s cubic-bezier(0,.42,.42,1);
    -moz-transition: all .4s cubic-bezier(0,.42,.42,1);
    -o-transition: all .4s cubic-bezier(0,.42,.42,1);
    transition: all .4s cubic-bezier(0,.42,.42,1);
}
/*Alineacio vertical del icono en el circulo*/

.nav__footer i {
    line-height: 50px;
    }

  /* Aparicion de cada circulo */

.nav__footer .slide-out:nth-child(1) {
    -webkit-transform: translate(90px, -20px) scale(1.2);
    transform: translate(70px, -20px) scale(1.2);
}
.nav__footer .slide-out:nth-child(2) {
    -webkit-transform: translate(160px, -40px);
    transform: translate(122px, -40px);
}

.nav__footer .slide-out:nth-child(3) {
    -webkit-transform: translate(-90px, -20px) scale(1.2);
    transform: translate(-70px, -20px) scale(1.2);
}

.nav__footer .slide-out:nth-child(4) {
    transform: translate(-122px, -40px);
}

/* Se pierde el icono y la animacion del circulo mas grande*/
/*Le cambie el color a negro*/

.hamburger {
    width: 25px;
    height: 3px;
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: transform 200ms;
}
/* cada una de las lineas que conforma el icono de hamburguesa*/

.hamburger-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}
.hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.hamburger-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

/*Animaciones de cruz de menu*/

.cross-left {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}
.cross-hide {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.cross-right {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

/*Medias para que solo aparezca a los 600px*/

@media only screen and (min-width: 600px){
    .foot__smallscreen{
        display: none;
    }
}

/*Ventana emergente del menu responsive*/

.ventanaEmergenteFooter{
    display: flex;
    backdrop-filter: blur(5px);
    visibility: hidden;
    position: fixed;
    text-align: center;
    position: fixed;
    top: -8rem;
    bottom: 0;
    border: groove;
        h3,h4 {
        font-weight: 700;
    }
    .redesEmergente{
    width: 30px;
    margin-top: -40px;
    }
    .popup_footer{
        background: radial-gradient(circle at 50% 50%, #e0d610, #b6e040, #8ce768, #5eea8f, #16ebb4, #00ead4, #00e7ee, #0fe3ff);
    opacity: 0;
    transition: .5s ease all;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    border: groove;

    width: 20rem;
    border-radius: 10px;
    margin: auto;
    margin-top: 10rem;
    }
    .popup_footer.active{
    opacity: 1;
    }
}
.ventanaEmergenteFooter.active{
    visibility: visible;
}
.cerrar-popup{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
        img{
            width: 50px;
        }
}
.botonAbrirFooter{
    background-color: transparent;
    border: none;
        img{
        width: 25px;
        margin-top: 10px;
    }
}
