#banner{
        background-image: linear-gradient(#EAEAE8 , white);
        height: 3rem;
        border-bottom: 1px solid grey;
        ul{
            display: flex;
            list-style: none;
            justify-content: end;
        }
        .user{
            display: flex;
            justify-content: center;
        }
        
}