
.caruselServicios{
    margin-top: 13rem;
    width: 50%;
    margin-bottom: 10rem;
        img{
            border-radius: 10px;
        }
}
/*Carousel, descripcion y contacto de jardineria (se repiten las clases y opciones podria crear un mixin */

.jardineria{
    margin-top: 5rem;
    h3{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
    }
    .jumbotron{
        margin: 0 auto;
        background: linear-gradient(-43deg, rgb(22, 237, 123), rgb(125, 115, 245));
        background: -webkit-linear-gradient(-43deg, rgb(22, 237, 123), rgb(125, 115, 245));
        border-radius: 10px;
        h2{
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 700;
            font-size: 3rem;
            text-align: center;
        }
        p{
            
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
            text-align: center;
        }
    }
    .card-title{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
    }
    .card{
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
/*Carousel, descripcion y contacto de paisajismo*/

.paisajismo{
    margin-top: 5rem;
    h3{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
    }
    .jumbotron{
        margin: 0 auto;
        background: linear-gradient(-43deg, rgb(22, 237, 123), rgb(125, 115, 245));
        background: -webkit-linear-gradient(-43deg, rgb(22, 237, 123), rgb(125, 115, 245));
        border-radius: 10px;
        h2{
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 700;
            font-size: 3rem;
            text-align: center;
        }
        p{
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
            text-align: center;
        }
    }
    .card-title{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
    }
    .card{
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

/*Carousel, descripcion y contacto de acuarismo*/

.acuarismo{
    margin-top: 5rem;
    h3{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
    }
    .jumbotron{
        margin: 0 auto;
        background: linear-gradient(-43deg, rgb(22, 237, 123), rgb(125, 115, 245));
        background: -webkit-linear-gradient(-43deg, rgb(22, 237, 123), rgb(125, 115, 245));
        border-radius: 10px;
        h2{
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 700;
            font-size: 3rem;
            text-align: center;
        }
        p{
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
            text-align: center;
        }
    }
    .card-title{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
    }
    .card{
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
